body {
  background: #f7f8fa; 
  font-family: 'Tajawal', sans-serif; 
  color: #333;
}

nav.navigation {
  background-color: #38a3a5; 
  padding: 25px 20px; 
  text-align: center;
}

nav.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.navigation li {
  display: inline-block;
  margin: 0 30px; 
}

nav.navigation li a {
  color: #fff; 
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav.navigation li a:hover {
  color: #f9f2c7; 
}


.names-section {
  width: 90%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}

h1 {
  color: #38a3a5; 
  text-align: center;
  margin-bottom: 20px;
}


.names-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; 
}

.name-card {
  width: 300px; 
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
  border: 1px solid #ddd; 
  padding: 20px; 
}

.name-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.name-arabic {
  text-align: right; 
  direction: rtl; 
  margin-bottom: 15px;
}

.name-arabic h2 {
  color: #38a3a5; 
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.name-arabic p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

/* Name Info */
.name-info {
  margin-bottom: 0;
}

.name-info h3 {
  color: #38a3a5; 
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.name-info p {
  font-size: 16px;
  line-height: 1.6;
  color: #333; 
}

@media (max-width: 768px) {
  .names-container {